:root{
	/* fonts */
	--main-font-family: 'Roboto', sans-serif;
	--second-font-family: 'Raleway', sans-serif;
	/* colors */
	--main-dark-color: #212121;
	--main-light-color: #757575;
	--accent-color: #2196F3;
	--header-one-color: #FFFFFF;
	--main-background-color: #2F303A;
	--second-background-color: #F5F4FA;
	--footer-text-color: #FFFFFF99;
	--header-logo-color: #000000;
	--portfolio-bb-color:rgba(238, 238, 238, 1);
	

}

body{
font-family: var(--main-font-family);
font-size: 14px ;
color: var(--main-dark-color);
font-style: normal;
font-weight: 400;
}

.visually-hidden{
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.link{
	text-decoration: none;
	color: inherit;
}
	
.list {
	list-style: none;}

	/* button */
.button{
	border: none;
	background-color: transparent;
	color:inherit;
	font-family: inherit;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
}

.button.prime {
	background-color: var(--accent-color);
	color: var(--header-one-color);
	font-weight: 700;
	height: 30px;
	}
.button.portfolio{
	background-color: var(--second-background-color);
	color: var(--main-dark-color);
	font-weight: 500;
}




/* header */

.logotype{
	color: var(--header-logo-color);
}
.logo{
	color: var(--accent-color);
	font-family: var(--second-font-family);
	text-decoration: none;
	}
	.logo:hover,
	.logo:focus{
		color: var(--accent-color);
	}
	

.site-nav .link:hover,
.site-nav .link:focus{
	color: var(--accent-color);
}
.site-nav .link.current{
	color: var(--accent-color);
}

.address-list .link {
	color: var(--main-light-color);
}

.address-list .link:hover,
.address-list .link:focus{
color: var(--accent-color);
}


/* main */

/* hero */
.hero{
	background-color: var(--main-background-color);
}
.hero-title{
	color: var(--header-one-color);
	font-weight: 900;
}

/* section */

.section-title{
	color: var(--main-dark-color);
	font-family: var(--main-font-family);
	font-weight: 700;
}

/* особенности */

.features-list .title{
	font-weight: 700;
}
.features-list .description{
	color: var(--main-light-color);
}

/* чем мы занимаемся */


/* наша команда */

.team-list .title{
	font-weight: 500;
	font-size: 16px;
}
.team-list .description{
	color: var(--main-light-color);
	font-size: 16px;
}
/* footer */

.footer{
	background-color: var(--main-background-color);
}
.footer-logotype{
	color: var(--header-one-color);
}
.footer-link-address{
	color: var(--header-one-color);
}
.footer-link{
	color: var(--footer-text-color);
}


/*стили для portfolio.html */

.filter-list .button:hover,
.filter-list .button:focus{
	color: var(--accent-color);
}




.example-title{
	font-weight: 700;
}
.example-description{
	font-weight: 400;
	color: var(--main-light-color);
}
















